[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pytest = "*"
prompt-toolkit = "*"
SQLAlchemy = "*"
pycodestyle = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
